@import '_mixsins.scss';
@import url('_normalize.css');

$fc1: #ffffff;
$fc2: #777777;
$fc3: #515151;
$bgc1: #777777;
$bgc2: #DCDCDC;

/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */
*,
*::before,
*::after {
	box-sizing: border-box;
}

.clearfix:after {
	@include clearfix;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 32px;
}

body {
	margin: 0;
	padding: 25px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
}

p,
ul {
	margin: 0;
}

/*============================================= */


/*=============================================
        ШАПКА
  ============================================= */
.header {
	height: 108px;
	margin-bottom: 25px;
}

.navigation,
.contact,
.logo {
	height: 100%;
	background-color: $bgc1;
}

.logo {
	img {
		display: block;
		width: 100%;
		height: 100%;
		max-height: 108px;
	}
}

.contact {
	text-align: right;
	padding-right: 20px;

	&__list {
		@include verAl;
		padding-left: 20px;
		list-style-type: none;
	}

	&__link {
		color: $fc1;
	}

	&__item:first-child>a {
		text-decoration: none;
	}
}

/*============================================= */


/*=============================================
        ОСНОВНАЯ ЧАСТЬ
  ============================================= */
.main {
	border-top: 1px solid $fc3;
	border-bottom: 1px solid $fc3;
}

/*---------------------------------------------
  Секция сайдебар
  --------------------------------------------- */

.sidebar {
	min-height: 700px;
	position: relative;
	height: 100%;
}

/* Контент сайдебара
----------------------------------------------*/
.sidebar__content {
	padding: 10px 45px 15px 0;
	background: $bgc1;
}

.sidebar__title {
	margin-left: 10px;
	font-size: inherit;
	font-weight: bold;
	color: $fc1
}

.sidebar__list {
	width: 100%;
	margin-left: 10px;
	padding-left: 0;
	list-style: none;
}

.sidebar__link {
	color: $fc1;
	text-decoration: none;
}

/* Футер сайдебара
----------------------------------------------*/
.sidebar__footer {
	position: absolute;
	bottom: 0;
	height: 150px;
	// height: 100%;
	width: 100%;
	background: $bgc1;
}

/*----------------------------------------------*/

/*---------------------------------------------
  Секция контент
  --------------------------------------------- */
.content {
	margin-left: -35px;
}

.content-header {
	margin: 0;
	background: $bgc2;

	&__title {
		margin: 0 0 10px 15px;
		padding-top: 15px;
		font-size: inherit;
		color: $fc2
	}

	&__list {
		padding-right: 40px;
		margin-bottom: 25px;
		color: $fc2
	}

	&__desc {
		margin-left: 15px;
		padding-bottom: 25px;
		color: $fc2
	}
}

.content__item {
	height: 150px;

	img {
		@include verAl;
		width: 100%;
	}
}

.content-footer__item {
	height: 100%;
	padding: 20px 15px;
	color: $fc2;
	background: $bgc2;
}

/*============================================= */


/*=============================================
        ПОДВАЛ
  ============================================= */
.footer__list {
	margin: 0;
	padding: 20px 0;
	list-style-type: none;
	background: $bgc1;
}

.footer__link {
	padding-left: 20px;
	color: $fc1;
	text-decoration: none;
}

.footer__list--block2 {
	padding-left: 20px;
	list-style-type: square;
	color: $fc1;
}

.col-block3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.row-block3 {
	height: 43%;
	background: $bgc1;
}